<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
    <!-- Disable WebDAV - https://doc.sitecore.com/developers/90/platform-administration-and-architecture/en/disable-webdav.html  -->
        
		<sc.variable name="webDAVPrefix" value="/sitecore_files">
			<patch:delete />
		</sc.variable>

		<customHandlers>
		  <handler trigger="$(webDAVPrefix)" handler="sitecore_webDAV.ashx">
			<patch:delete />
		  </handler>
		</customHandlers>

		<pipelines>
		  <initialize>
			<processor type="Sitecore.Pipelines.Loader.CheckWebDAVConfiguration, Sitecore.Kernel">
				<patch:delete />
			</processor>
		  </initialize>
		  <preprocessRequest>
			<processor type="Sitecore.Pipelines.PreprocessRequest.WebDAVCustomHandler, Sitecore.Kernel">
				<patch:delete />
			</processor>
		  </preprocessRequest>
		  
		  <group groupName="WebDAV" name="WebDAV">
			<pipelines>
			  <autogenerateVersions>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultAutogenerateVersionsResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </autogenerateVersions>
			  <resolveDatabase>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.OptionsDatabaseResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultDatabaseResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveDatabase>
			  <resolveRootItem>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultRootItemResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveRootItem>
			  <updateProperties>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultUpdatePropertiesHandler, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </updateProperties>
			  <getProperties>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultPropertiesResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </getProperties>
			  <validateOperation>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.ReadOnlyModeValidator, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultOperationValidator, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </validateOperation>
			  <resolveMode>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.OptionsWebDAVModeResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultModeResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveMode>
			  <resolveUser>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.OptionsUserResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultUserResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveUser>
			  <resolveView>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.OptionsViewResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.UserOptionsViewResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultViewResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveView>
			  <resolveSite>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.OptionsSiteResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultSiteResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveSite>
			  <requireAuthentication>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.RequestRequireauthenticationResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.OptionsRequireAuthenticationResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultRequireAuthenticationResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </requireAuthentication>
			  <resolveWebDAVState>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultResolveWebDAVState, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </resolveWebDAVState>
			  <associateUsernameWithLink>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.UseLinkBasedOnOS, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.UseDefaultLinkSetting, Sitecore.Kernel">
					<patch:delete />
				</processor>
			  </associateUsernameWithLink>
			  <supportWebDAVUrl>
				<processor type="Sitecore.Pipelines.WebDAV.Processors.DefaultSupportWebDAVUrlResolver, Sitecore.Kernel">
					<patch:delete />
				</processor>	
			  </supportWebDAVUrl>
			</pipelines>
		  </group>
		</pipelines>

		<webdav>
		  <patch:delete />
		</webdav>

		<scheduling>
		  <agent type="Sitecore.Tasks.CleanupFDAObsoleteMediaData" method="Run" interval="1.00:00:00">
			<patch:delete />
		  </agent>
		  <agent type="Sitecore.Tasks.WebDAVOptionsCleanupAgent" method="Run" interval="1.00:00:00">
			<patch:delete />
		  </agent>
		</scheduling>

		<mediaLibrary>
		  <mediaPrefixes>
			<prefix value="$(webDAVPrefix)">
				<patch:delete />
			</prefix>
		  </mediaPrefixes>
		</mediaLibrary>
		
		<settings>
		  <setting name="WebDAV.AssociateUsernameWithLink" value="default">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.Enabled" value="false">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.EngineLogLevel" value="Off">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.FileDropAreaMediaLocation" value="/sitecore/media library">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.Folder" value="$(webDAVPrefix)">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.LicenseFile" value="/bin/ITHit.WebDAV.Server.lic">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.MediaHandlerName" value="sitecore_webDAV.ashx">
			<patch:delete />
		  </setting>

		  <setting name="WebDAV.PromptWhenUsernameUnknown" value="true">
			<patch:delete />
		  </setting>	

		  <setting name="WebDAV.URLDisplayName" value="/media">
			<patch:delete />
		  </setting>	

		  <setting name="WebDAV.UseShortURL" value="true">
			<patch:delete />
		  </setting>
		</settings>
		
    </sitecore>
</configuration>