################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XP/install/Packaging
/XP/install/Enable-EngineHostname.ps1
