[Oo]bj/
src/**/[Bb]in/
build/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
build/assets/**/*
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
license.xml
lib/Sitecore/*
!lib/Sitecore/readme.MD
!lib/Modules/*
lib/System/*
!lib/System/readme.MD
lib/LocalRepository/*
.sonar
vars.user.cmd
.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
settings.user.ps1
*.log
*.zip
*.user.config
*.user.js
*.user.targets
*.scproj.user
IconCache/
T4RenderCache/
BuiltFiles_*.txt
/src/**/tds/*/Report/*
*.p12
*.jks
deploy/
*.pubxml
install-xp0.json
configuration-xp0.json
set-installation-overrides.ps1
*.crt
*.msi
*.config.user
Deploy-*
*/**/Downloads
configuration-x*0.json
/install/deploy/*
*/**/set-installation-overrides.ps1
XC/install/assets/Commerce
*/**/Resources/Modules
*.tgz
*.update
InstallUtil.InstallLog
/FrontEnd/**/node_modules
logs
*.dll
publishTemp
Publish
dev.creds.xml
*.pfx
shared/sat
install-modules.json
module-master-install.json