<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" version='' />
	<package id="git.install" version='' />
	<package id="7zip.install" version='' />
	<package id="notepadplusplus.install" version='' />
	<package id="nodejs.install" version='' />
	<package id="vscode" version='' />
	<package id="vscode-powershell" version='' />
	<package id="vscode-csharp" version='' />
	<package id="jre8" version='' />
	<package id="snaketail" version='' />
</packages>
