<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" />
	<package id="git.install" />
	<package id="7zip.install" />
	<package id="notepadplusplus.install" />
	<package id="nodejs.install" />
	<package id="vscode" />
	<package id="vscode-powershell" />
	<package id="vscode-csharp" />
	<package id="webdeploy" />
	<package id="jre8" />
	<package id="urlrewrite" />
	<package id="snaketail" />
	<package id="sql-server-management-studio" />
	<package id="dotnet4.7.2"/>
	<package id="dotnetcore-runtime"/>
	<package id="dotnetcore-windowshosting" />
</packages>
