<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="IIS-WebServerRole" source="windowsfeatures" />
	<package id="IIS-ManagementScriptingTools" source="windowsfeatures" />
	<package id="IIS-IIS6ManagementCompatibility" source="windowsfeatures" />
	<package id="IIS-HttpRedirect" source="windowsfeatures" />
	<package id="NetFx4Extended-ASPNET45" source="windowsfeatures" />
	<package id="IIS-NetFxExtensibility45" source="windowsfeatures" />
	<package id="IIS-ISAPIFilter" source="windowsfeatures" />
	<package id="IIS-ISAPIExtensions" source="windowsfeatures" />
	<package id="IIS-ASPNET45" source="windowsfeatures" />
	<package id="IIS-ApplicationInit" source="windowsfeatures" />
	<package id="IIS-LoggingLibraries" source="windowsfeatures" />
	<package id="IIS-RequestMonitor" source="windowsfeatures" />
	<package id="IIS-HttpTracing" source="windowsfeatures" />
	<package id="IIS-CustomLogging" source="windowsfeatures" />
	<package id="IIS-HttpCompressionDynamic" source="windowsfeatures" />
	<package id="IIS-BasicAuthentication" source="windowsfeatures" />
	<package id="googlechrome" />
	<package id="git.install" />
	<package id="7zip.install" />
	<package id="notepadplusplus.install" />
	<package id="nodejs.install" />
	<package id="vscode" />
	<package id="vscode-powershell" />
	<package id="vscode-csharp" />
	<package id="webdeploy" />
	<package id="jre8" />
	<package id="urlrewrite" />
	<package id="snaketail" />
	<package id="visualstudio2017community" />
	<package id="visualstudio2017-workload-manageddesktop" />
	<package id="visualstudio2017-workload-netcoretools" />
	<package id="visualstudio2017-workload-netweb" />
	<package id="sql-server-2016-developer-edition" />
	<package id="sql-server-management-studio" />
	<package id="dotnetcore-windowshosting" />
</packages>
