<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" />
	<package id="git.install" />
	<package id="7zip.install" />
	<package id="notepadplusplus.install" />
	<package id="nodejs.install" />
	<package id="vscode" />
	<package id="vscode-powershell" />
	<package id="vscode-csharp" />
	<package id="webdeploy" />
	<package id="jre8" />
	<package id="urlrewrite" />
	<package id="visualstudio2017community" />
	<package id="sql-server-2016-developer-edition" />
	<package id="sql-server-management-studio" />
	<package id="snaketail" />
</packages>