Param(
    [string] $configurationFile = "configuration-xc0.json"
)

Write-Host "Setting Local Overrides in $configurationFile"

$json = Get-Content -Raw $configurationFile |  ConvertFrom-Json

# Assets and prerequisites

$assets = $json.assets
$assets.root = "$PSScriptRoot\assets"
$assets.packageRepository = "C:\repository"
$assets.downloadFolder = $assets.packageRepository

# Settings

# Site Settings
$site = $json.settings.site

#Commerce
$commerce = $json.settings.commerce
$commerce.storefrontPrefix = $site.prefix
$commerce.storefrontHostName = $commerce.storefrontPrefix + "." + $site.suffix

$commerce.engineConnectClientId = "CommerceEngineConnect"
$commerce.engineConnectClientSecret = "J6qfqaKX1hAFIUjiNCAV6jVolLqwhF4OgM6dHT7c9dk="

$commerce.serviceAccountDomain = "$($Env:COMPUTERNAME)"
$commerce.serviceAccountUserName = "CSFndRuntimeUser"
$commerce.serviceAccountPassword = "Pu8azaCr"

$commerce.brainTreeAccountMerchandId = ""
$commerce.brainTreeAccountPublicKey = ""
$commerce.brainTreeAccountPrivateKey = ""
$commerce.brainTreeEnvironment = ""

Set-Content $ConfigurationFile  (ConvertTo-Json -InputObject $json -Depth 4 )
